*{
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    height: 100vh;
    background-color: #4C4C4E ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 200px;
    height: 100px;
    background-color: #d2d2d2;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button::before{
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}
input:checked + .button{
    background-color: #FEC341;
}
input:checked + .button::before{
    transform: translateX(100px);
    animation-name: toggle;
    animation-duration: 0.8s;
    transition-delay: 0.2s;
    
}
input{
    display: none;
}

@keyframes toggle{
    0%{
        width: 90px;
        height: 90px;
    }
    25%{
        margin: 10px;
        width: 30px;
        height: 80px;
    }
    50%{
        margin: 20px;
        width: 100px;
        height: 60px;
    }
    75%{
        margin: 5px;
        width: 70px;
        height: 90px;
    }
    100%{
        width: 90px;
        height: 90px;
    }

}