/* separate style sections with comments */
:root {
  /* Theme for website*/
  --gardenLoftOrange: #f3b81a;
  --gardenLoftGrey:#7f8181;
  --gardenLoftWhite: #fefefe;
  --tempColorCheck1: blue;
  --tempColorCheck2: green;
  --tempColorCheck3: red; 
}

